.tag__container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.tag__left {
  display: flex;
}
.tag__right {
  display: flex;
}
.tag__left .tag__container__span {
  border-radius: 20px;
  background-color: rgba(0, 51, 152, 0.2);
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.tag__left .tag__container__span span {
  color: var(--blue);
  font-weight: 500;
  font-size: var(--small);
}

.tag__right .tag__container__span__clean {
  border-radius: 20px;
  background-color: var(--green);
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.tag__right .tag__container__span__clean span,
.tag__right .tag__container__span__crow span {
  color: white;
  font-weight: 500;
  font-size: var(--small);
  margin-left: 5px;
}

.tag__container__span__crow {
  border-radius: 20px;
  background-color: var(--orange);
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.tag__container__span {
  border-radius: 50%;
  background-color: var(--gray);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-right: 20px;
}
.tagIcon {
  font-size: var(--small);
  /* margin-right: 10px; */
  color: white;
}
